body {
  padding: 0px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-container > button {
  padding: 7px 12px;
  background-color: #cfb53b;
  margin-left: 10px;
  border: 1px solid;
  border-left-color: wheat;
  border-top-color: wheat;
  cursor: pointer;
  border-bottom-color: grey;
  border-right-color: grey;
  color: darkslategrey;
}
#createPostModal > .modal-content {
    width: 80%;
    height: 75%;
  }

#createPostModal >.modal-content>.modal-form {
    height: 85%;
}

#createPostModal >.modal-content>.modal-form > form {
    height: -webkit-fill-available;
}


textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: none;
  height: 350px
}

textarea::placeholder {
  color: #8a8887;
  font-weight: 600;
  font-size: 13px;
  font-family: sans-serif;
}

#createPostButton{
    padding: 10px;
    background-color: #5eb762;
    color: #fff;
    border: none;
    font-size: 15px;
    cursor: pointer;
}