body {
  background-color: #ffeedd;
}

.modal {
    padding: unset;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}
.modal-header {
    justify-content: center;
}

.modal-header > .modal-title {
    color: unset;
    font-size: 18px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-footer > button {
    padding: 7px 12px;
    color: #ffffff;
    cursor: pointer;
}

.scribbler-subheading {
    color: #8a5ca4;
}

#yesDeleteButton {
    background-color: #5eb762;
    margin-left: 6px;
    border: 0;
}
#noDeleteButton {
    background-color: #d13939;
    margin-right: 9px;
    border: 0;
}

.post-body {
  margin-top: 25px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post-item {
  display: flex;
  /* width: %; */
  width: 570px;
  margin-bottom: 25px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0px 2.5px 16px #ccb9bc;
  font-family: sans-serif;
}

.post-item:hover {
    box-shadow: 0px 10px 20px #ab9d9e;
}

.post-item:nth-child(2n) {
  /* margin-left: 3%;; */
}

.post-user {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 224px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
  color: #707076;
  font-weight: bold;
}
.post-detail {
  padding: 16px;
  border-radius: 0px 10px 10px 0px;
  background-color: #e8e8e8;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-body-info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post-header-text {
  color: #989795;
}
.post-delete {
  margin-left: 10px;
}
.post-delete > i {
  color: #818181;
  cursor: pointer;
}

.post-footer {
  text-align: right;
  margin-top: 7px;
}
.post-footer > i {
  color: #818181;
  cursor: pointer;
}
